<%= form_with(model: user, local: true) do |form| %>
    <% if user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="ui fluid labeled input">
      <div class="ui label">
        用户名
      </div>
      <%= form.text_field :name, id: :user_name %>
    </div>
    <br>
    <div class="ui fluid labeled input">
      <div class="ui label">
        邮箱
      </div>
      <%= form.email_field :email, id: :user_email %>
    </div>
    <br>
    <div class="ui fluid labeled input">
      <div class="ui label">
        权限
      </div>
      <%= form.number_field :permission, id: :user_permission %>
    </div>
    <br>
    <div class="ui fluid labeled input">
      <div class="ui label">
        密码
      </div>
      <%= form.password_field :password, id: :user_password %>
    </div>
    <br>
    <div class="ui fluid labeled input">
      <div class="ui label">
        重复密码
      </div>
      <%= form.password_field :password_confirmation, id: :password_confirmation %>
    </div>
    <br>
    <%= form.submit :class => 'ui primary button', :value => '确定' %>
<% end %>
