<div class="ui container">
  <p id="notice"><%= notice %></p>


  <h1>用户</h1>
  <%= link_to '新建用户', new_user_path,  class: 'ui primary button'%>
  <br><br>

  <div class="ui special cards three stackable">
    <% @users.each do |user| %>
        <div class="ui fluid card">
          <div class="content">
            <div class="right floated meta">
              <div class="ui dropdown">
                <div class="text">更多</div>
                <i class="dropdown icon"></i>
                <div class="menu">
                  <div class="item"><%= link_to '编辑', edit_user_path(user) %></div>
                  <div class="item"> <%= link_to '删除', user, method: :delete, data: { confirm: 'Are you sure?' } %></div>
                </div>
              </div>
            </div>
            <%= gravatar_round_for user%>
            <%= link_to user.name, user %>
          </div>
          <div class="content">
            <div class="ui divided list">
              <a class="item">
                <div class="ui red horizontal label">邮箱</div>
                <%= user.email %>
              </a>
              <a class="item">
                <div class="ui purple horizontal label">权限</div>
                <%= user.permission %>
              </a>
              <a class="item">
                <div class="ui grey horizontal label">创建于</div>
                <%= user.created_at %>
              </a>
              <a class="item">
                <div class="ui grey horizontal label">更新于</div>
                <%= user.updated_at %>
              </a>
            </div>
          </div>
          <!--<div class="extra content">-->
          <!--</div>-->
        </div>


    <% end %>
  </div>

  <script>
      $('.special.cards .image').dimmer({
          on: 'hover'
      });
      $('.ui.dropdown')
          .dropdown()
      ;
  </script>
</div>