
<div>
  <div class="ui vertical masthead center aligned segment">

    <div class="ui text container">

      <%= link_to (image_tag "csu_banner.jpg"), root_url_path, class:'ui fluid image' %>
      <br>

      <div class="ui two column stackable grid">
        <% if logged_in? %>
        <div class="four wide column">
          <div class="ui vertical menu fluid">
                <div class="item">
                  <div class="header">公文</div>
                  <div class="menu">
                    <%= link_to '我的公文(' << Document.select {|doc| doc.user_id == current_user.id}.size.to_s << ')',user_documents_path(:user_id => current_user.id), class:'item' %>
                    <%= link_to '待审核的公文(' << current_user.to_review_documents.size.to_s << ')', user_documents_index_hand_over_path(:user_id => current_user.id), class:'item' %>
                    <%= link_to '已审核的公文(' << current_user.reviewed_documents.size.to_s << ')', user_documents_index_reviewed_path(:user_id => current_user.id), class:'item' %>
                    <a class="item">待发回的公文(0)</a>
                  </div>
                </div>
            <% if is_admin_or_upper? %>
                <div class="item">
                  <div class="header">后台管理</div>
                  <div class="menu">
                    <%= link_to '用户管理', backstage_users_path, class: 'item' %>
                    <%= link_to '公文管理', backstage_documents_path, class: 'item' %>
                  </div>
                </div>
            <% end %>
          </div>
        </div>
        <% end %>
        <% if logged_in? %>
            <div class="twelve wide column">
        <% else %>
            <div class="sixteen wide column">
        <% end %>
          <div class="ui segment">
            <h1 class="ui header">
              电子政务系统
            </h1>

            <% if logged_in? %>
                <p>
                  欢迎回来，<%= @current_user.name %>
                </p>
            <% else %>
                <%= link_to '注册', signup_path, class: 'ui huge button' %>
                <%= link_to '登陆', login_path, class: 'ui huge primary button' %>
            <% end %>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>