<div class="ui container">

  <h1>公文</h1>
  <%= link_to '新建公文', new_user_document_path(:user_id => current_user.id), class: 'ui button primary' %>

  <div class="ui middle aligned divided list">
    <% @documents.each do |document| %>
    <div class="item">
      <div class="right floated content">
        <%= link_to '编辑', edit_user_document_path(:id => document.id),class: 'ui button' %>
        <%= link_to '删除', user_document_path(:id => document.id),class: 'ui button', method: :delete, data: { confirm: '确认？' } %>
      </div>
      <div class="header">
        <%= link_to document.tite, user_document_path(:id => document.id) %>
      </div>
      <div class="content">
        <%= document.content %>
      </div>
    </div>
    <% end %>
  </div>

  <br>

</div>