<div class="ui container">
  <p id="notice"><%= notice %></p>

  <%= link_to '返回', user_documents_path , class: 'ui button' %>
  <% if belongs_to_current_user?(@document) %>
      <%= link_to '编辑', edit_user_document_path(@document), class: 'ui button' %>
  <% end %>

  <div class="ui horizontal divider">
    公文正文
  </div>
  <h1>
    <%= @document.tite %>
  </h1>
  <% if @document.tags.any? %>
      收录于
      <div class="ui celled horizontal list">
        <% @document.tags.each do |tag| %>
            <% if tag != '' %>
                <% logger.info tag %>
                <% logger.info tag.class %>
                <div class="item"><%= DocumentTag.key(tag.to_i) %></div>
            <% end %>
        <% end %>
      </div>
  <% end %>
  <p>
    创建于 <%= @document.created_at %>
  </p>

  <p>
    <%= @document.content %>
  </p>
  <div class="ui horizontal divider">
    公文操作
  </div>

  <% if belongs_to_current_user?(@document) %>
      <%= form_with(:method => :POST, local: true, url: user_document_hand_over_to_upper_path(:document_id => @document.id)) do |form| %>
          <div class="ui form">
            <h4 class="ui dividing header">提交审核 & 批复</h4>
            <div class="field">
              <label>您当前权限为：<%= UserPermission.key(current_user.permission) %>，可以提交给
                <% permissions_upper_than_user_has(current_user).each do |permission| %>
                    <%= permission %>
                <% end %>
                权限用户</label>
              <label>提交公文至：</label>
              <br><br>
              <div class="field">
                <%= form.select("hand_over_to_person_id", users_by_permission_upper_than_user(current_user).collect {|p| [ p.name.to_s <<  ' 权限：' <<  UserPermission.key(p.permission).to_s, p.id ] }, {include_blank: true}, class:'ui search dropdown') %>
              </div>
            </div>
            <br>
            <div class="actions">
              <%= form.submit :class => 'ui primary button', :value => '提交' %>
            </div>
          </div>
      <% end %>
  <% end %>

  <% if current_user_has_auth_to_review?(@document) %>
      <br>
      <%= form_with(:method => :POST, local: true, url: user_document_submit_review_by_upper_path(:document_id => @document.id)) do |form| %>
          <div class="ui form">

            <h4 class="ui dividing header">审核 & 批复</h4>
            <p>对 <%= User.find(@document.user_id).name %> 的此文档进行审核 & 批复</p>

            <div class="inline field">
              <div class="ui slider checkbox">
                <%= form.check_box :review_opinion, class:'hidden', id: :document_opinion %>
                <label>是否审核通过</label>
              </div>
              <label></label>
            </div>

            <div class="field">
              <label>批复</label>
              <%= form.text_area :review_content, id: :document_review %>
            </div>

            <br>
            <div class="actions">
              <%= form.submit :class => 'ui primary button', :value => '提交' %>
            </div>
          </div>
      <% end %>
  <% end %>

  <div class="ui horizontal divider">
    公文状态
  </div>
  <% if @document.review_state %>
      已通过
  <% else %>
      未通过
  <% end %>

  <div class="ui horizontal divider">
    公文批复
  </div>
  <div class="ui relaxed list">
    <% @document.reviews.map{ |review_id| Review.find(review_id) }.each do |review_item| %>
        <div class="item">
          <%= gravatar_small_round_for(User.find(review_item.user_id)) %>
          <div class="content">
            <a class="header"><%= User.find(review_item.user_id).name %></a>
            <div class="description"><%= review_item.content %></div>
          </div>
        </div>
    <% end %>
  </div>


</div>