<div class="ui container">
  <p id="notice"><%= notice %></p>

  <h1>
    <%= @document.tite %>
  </h1>

  <p>
    <%= @document.content %>
  </p>

  <%= link_to '编辑', edit_user_document_path(@document), class: 'ui button' %>
  <%= link_to '返回', user_documents_path , class: 'ui button' %>

</div>